.react-colorful {
  /* width: 200px; */
  width: 100% !important;
  /* height: 200px; */
  height: 80px !important;
  /* cursor: default; */
  cursor: grab !important;
}

.react-colorful__pointer:active {
  /* disable cursor when selector is grabbed */
  cursor: none;
  /* keep translation, scale up */
  transform: translate(-50%, -50%) scale(1.1) !important;
}

.react-colorful__interactive:focus .react-colorful__pointer {
  transform: translate(-50%, -50%) scale(1.1) !important;
}
