
.Control {
  z-index: 10;
  margin: 1em;
}

.fullSize {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fullScreen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.renderer {
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* z-index: 1; */
}
